@import url('href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');

body{
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #070707;
    color: #fff
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 10vh;
    margin: 0 30vh;
    font-size: 1.8vh;
    background-color: #000;
}

.menu:hover{
    color:rgb(221, 128, 6);
    cursor: pointer;
}

.menuContainer{
    display: flex;
    flex-direction: row;
    column-gap: 1.7vh;
    font-size: 1.2vh;
}

.presentationSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 30vh;
    padding: 0 10vh;
    font-size: 4vh;
    background-color: #000;
}

.presentationContentName{
    font-weight: 100;
    }

.buttonContainer{
    display: flex;
    flex-direction: row;
    column-gap: 1.5vh;
}

.profileImg{
    max-height: 45vh;
    border-radius: 45%;

}

.techPresentationSection{
    background-color: #070707;
    color: #fff
}

.techPresentationContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2vh 23vh;
    padding: 0 10vh;
}

.aboutSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 30vh 0 30vh;
    padding: 0 10vh;
    background-color: #000;
}

.competenseContainer{
    display: flex;
    flex-direction: column;
    row-gap: 2.5vh;
}

.compentenseContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1.5vh;
}

.compentenseImg{
    max-width: 6vh;
}

.compentenseTitle{
    font-size: 1.8vh;
}

.aboutMeTitle{
    font-size: 5vh;
}

.aboutMeContainer{
    max-width: 50vh;
}

.projectSectionTitle{
    display: flex;
    justify-content: center;
    font-size: 5vh;
    background-color: #000;
}

.colorChange{
    color:rgb(221, 128, 6)
}