@import url('href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');

body{
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #070707;
    color: #fff
}

img{
    width:200px;
    height:auto
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 10vh;
    margin: 0 30vh;
    font-size: 1.8vh;
    background: linear-gradient(145deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 93%, rgba(221,128,6,1) 100%);}

    .titleName{
        font-size: 2vh;
    }

.menu:hover{
    color:rgb(221, 128, 6);
    cursor: pointer;
}

.menuContainer{
    display: flex;
    flex-direction: row;
    column-gap: 1.7vh;
    font-size: 1.2vh;
}

.presentationSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 70vh;
    margin: 0 30vh;
    padding: 0 10vh;
    font-size: 4vh;
    background: linear-gradient(145deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 62%, rgba(221,128,6,1) 100%)

}

.presentationContentName{
    font-weight: 100;
    }

.buttonContainer{
    display: flex;
    flex-direction: row;
    column-gap: 1.5vh;
    padding-bottom: 4vh ;
}

.myResume, .newJob{
    display: flex;
    align-items: center;
    column-gap: 1vh;
    border: 1px solid;
    border-radius: 5%;
    padding:1.5vh 1.5vh 1.5vh 1.5vh;
    font-size: 1.5vh;
    font-weight: 600;
    border-color: #dd8006;
    background-color: #000;
    color:#fff;
    cursor: pointer;
}

.downloadImg{
    max-width: 3vh;
}

.myResume:hover, .newJob:hover{
    background-color: #dd8006;
    color:#fff
}

.profileImg{
    width:35vh ; 
    padding-top: 1vh;
    height: fit-content;
    border-radius: 50%;

}

.techPresentationSection{
    background-color: #070707;
    color: #5e5959
}

.techPresentationSection:hover{
    color:#fff
}

.techPresentationContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2vh 23vh;
    padding: 0 10vh;
}

.aboutSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 30vh 0 30vh;
    padding: 0 10vh;
    background-color: #000;
}

.competenseContainer{
    display: flex;
    flex-direction: column;
    row-gap: 2.5vh;
}

.compentenseContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1.5vh;
}

.compentenseImg{
    max-width: 6vh;
}

.compentenseTitle{
    font-size: 1.8vh;
}

.aboutMeTitle{
    font-size: 4vh;
}

.aboutMeContainer{
    max-width: 50vh;
}

.colorChange{
    color:#dd8006
}

.projectSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30vh;
    background-color: #000;
}

.projectContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    background-color: #000;
}

.projectContent {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: center;
    margin: 0 10vh;    
}

.slide{
    width: 55vh;
    border-radius: 5%;
}
  /* Estilos para as setas de navegação */
.carouselContainer {
    position: relative;
    width: 100%;
}

.projectName{
    font-size: 3vh;
    display: flex;
    align-self: flex-start;
    margin: 0 10vh 1.5vh
}

.projectDescription{
    font-size: 2vh;
    display: flex;
    align-self: flex-start;
    margin: 0 4.5vh 2vh
}

.highlightTitle{
    font-size: 2vh;
    font-weight: 600;
    display: flex;
    margin: 0 4.5vh
}

.highlightContainer{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

.highlight{
    font-size: 1.8vh;
    display: flex;
    align-self: flex-start;
}

.techVariation{
    font-weight: 200;
}

.projectDetail{
    font-size: 2vh;
    font-weight: 600;
    display: flex;
    margin: 0 4.5vh 1vh
}

.externalLink{
    text-decoration: none;
    color:#fff;
    font-size: 2vh;
    display: flex;
    margin: 0 4.5vh;
    margin: 0 4.5vh 1vh
}